<mat-toolbar [class.mat-elevation-z0] = "atTop"
             [class.mat-elevation-z4] = "!atTop">

  <!-- left aligned -->
  <div fxLayout      = "row"
       fxLayoutGap   = "30px"
       fxLayoutAlign = "start center"
       fxFlex>

    <!-- logo -->
    <img class = "main-logo"
         fxFlex= "none"
         src   = "../assets/logo.png">

    <!-- title -->
    <div *ngIf = "cvOwnersName"
         fxShow [fxShow.lt-sm] = "false">
      {{cvOwnersName}}'s CV
    </div>

  </div>

  <!-- right aligned small buttons -->
  <!-- in a separate div to the large buttons due to a bug in FxLayout where the 
       margin of the last element is erroneously added until mouse-over if the last element
       is removed at the same time as adding the penultimate element -->
  <div fxLayout    = "row"
       fxLayoutGap = "30px">

    <button mat-icon-button
            fxShow [fxShow.gt-sm] = "false"
            class      = "large-icon"
            matTooltip = "Switch theme"
            color      = "primary"
            (click)    = 'toggleTheme()'
            fxFlex     = "none">
      <mat-icon [svgIcon] = "currentTheme==='dark-theme'?'lightbulb-off':'lightbulb-on'"></mat-icon>
    </button>

    <button mat-icon-button
            fxShow [fxShow.gt-sm] = "false"
            class      = "large-icon"
            matTooltip = "Download"
            color      = "primary"
            fxFlex     = "none">
      <mat-icon>arrow_downward</mat-icon>
    </button>

    <button mat-icon-button
            fxShow [fxShow.gt-sm] = "false"
            class      = "large-icon"
            matTooltip = "Contact"
            color      = "primary"
            fxFlex     = "none">
      <mat-icon>alternate_email</mat-icon>
    </button>
  </div>

  <!-- right aligned large buttons -->
  <div fxLayout    = "row"
       fxLayoutGap = "30px">

    <button mat-button
            fxShow [fxShow.lt-md] = "false"
            color   = "primary"
            (click) = 'toggleTheme()'
            fxFlex  = "none">
      <mat-icon [svgIcon] = "currentTheme==='dark-theme'?'lightbulb-off':'lightbulb-on'"></mat-icon>
      Switch theme
    </button>

    <button mat-button
            fxShow [fxShow.lt-md] = "false"
            color  = "primary"
            fxFlex = "none">
      <mat-icon>arrow_downward</mat-icon>
        Download
    </button>

    <button mat-button
            fxShow [fxShow.lt-md] = "false"
            color  = "primary"
            fxFlex = "none">
      <mat-icon>alternate_email</mat-icon>
      Contact
    </button>

  </div>


</mat-toolbar>