<mat-toolbar class         = "stick-to-top"
             fxLayout      = "row"
             fxLayoutGap   = "10px"
             fxLayoutAlign = "end center">

  <img class = "main-logo"
       src   = "../assets/logo.png">

  <div fxFlex="grow" *ngIf = "cvOwnersName">
    {{cvOwnersName}}'s CV
  </div>

  <button mat-button
          color   = "primary"
          (click) = 'toggleTheme()'
          fxFlex  = "none">

    <mat-icon [svgIcon] = "currentTheme==='dark-theme'?'lightbulb-off':'lightbulb-on'"></mat-icon>
    Toggle theme
  </button>

  <button mat-button
          color  = "primary"
          fxFlex = "none">
    <mat-icon>arrow_downward</mat-icon>
      Download
    </button>

  <button mat-button
    color =  "primary"
    fxFlex = "none">
    <mat-icon>alternate_email</mat-icon>
    Contact
  </button>

</mat-toolbar>