@import '~@angular/material/theming';
@mixin title-bar-component-style($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  
}

.stick-to-top {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure app content doesn't overlap it */
}

.main-logo {
  width:  30px;
  height: 30px;
}