<mat-toolbar [class.mat-elevation-z0] = "atTop"
             [class.mat-elevation-z4] = "!atTop">

  <!-- left aligned -->
  <div fxLayout      = "row"
       fxLayoutGap   = "30px"
       fxLayoutAlign = "start center"
       fxFlex>

    <!-- logo -->
    <img class = "main-logo"
         fxFlex= "none"
         src   = "../assets/logo.png">

    <!-- title -->
    <div fxShow [fxShow.lt-sm] = "false">
      <span *ngIf = "cvOwnersName">
        {{cvOwnersName}}'s CV
      </span>
      <div *ngIf = "lastModified"
           class = "title-modified-date">
        Last updated in {{lastModified | date:'MMMM yyyy'}}
      </div>
    </div>

  </div>

  <!-- right aligned small buttons -->
  <!-- in a separate div to the large buttons due to a bug in FxLayout where the 
       margin of the last element is erroneously added until mouse-over if the last element
       is removed at the same time as adding the penultimate element -->
  <div fxLayout    = "row"
       fxLayoutGap = "30px"
       fxFlex      = "none">

    <button mat-icon-button
            fxShow [fxShow.gt-sm] = "false"
            class      = "large-icon"
            matTooltip = "Switch theme"
            color      = "primary"
            (click)    = 'toggleTheme()'>
      <mat-icon [svgIcon] = "currentTheme==='dark-theme'?'lightbulb-off':'lightbulb-on'"></mat-icon>
    </button>

    <a mat-icon-button
            fxShow [fxShow.gt-sm] = "false"
            class      = "large-icon"
            matTooltip = "Download"
            color      = "primary"
            [href]     = "cvService.getPdfUrl()"
            [download] = "cvOwnersName + '\'s CV' + '.pdf'">
      <mat-icon>arrow_downward</mat-icon>
    </a>

    <a mat-icon-button
            fxShow [fxShow.gt-sm] = "false"
            class      = "large-icon"
            matTooltip = "Contact"
            color      = "primary"
            [href]     = "'mailto:' + cvOwnersEmail"
            target     = "_blank">
      <mat-icon>alternate_email</mat-icon>
    </a>
  </div>

  <!-- right aligned large buttons -->
  <div fxLayout    = "row"
       fxLayoutGap = "30px"
       fxFlex      = "none">

    <button mat-button
            fxShow [fxShow.lt-md] = "false"
            color   = "primary"
            (click) = 'toggleTheme()'>
      <mat-icon [svgIcon] = "currentTheme==='dark-theme'?'lightbulb-off':'lightbulb-on'"></mat-icon>
      Switch theme
    </button>

    <a mat-button
            fxShow [fxShow.lt-md] = "false"
            color      = "primary"
            [href]     = "cvService.getPdfUrl()"
            [download] = "cvOwnersName + '\'s CV' + '.pdf'">
      <mat-icon>arrow_downward</mat-icon>
        Download
    </a>

    <a mat-button
            fxShow [fxShow.lt-md] = "false"
            color  = "primary"
            [href] = "'mailto:' + cvOwnersEmail"
            target = "_blank">
      <mat-icon>alternate_email</mat-icon>
      Contact
    </a>

  </div>


</mat-toolbar>