.job-logo {
  width :95px;
  height:95px;
  margin:5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.job-header {
  min-height:105px;
}

.job-level {
  font-size:200%;
  font-weight: bold;
}

.job-company {
  font-weight: bold;

  //insert space with background image that looks like a bullet
  //this prevents the bullet from being selected as text and
  //prevents it from being inserted if the period is on a new line,
  //thanks to the period having white-space: nowrap
  &:after {
    content: " ";
    letter-spacing: 1em;
    background: center center no-repeat url("/assets/bullet.png");
  }
}

.job-period {
  white-space: nowrap;
}