<div fxLayout = "column"
     class    = "job"
     [id]     = "job.id">

  <!-- company logo for small screens -->
  <img class       = "job-logo small-only"
       [src]       = "job.logo"
       fxFlex      = "none"
       fxFlexAlign = "center">

  <div class       = "job-header"
       fxLayout    = "row"
       fxLayoutGap = "30px">

    <!-- company logo for large screens -->
    <img class       = "job-logo large-only"
         [src]       = "job.logo"
         fxFlex      = "none"
         fxFlexAlign = "start">

    <!-- text for job level, company, period of work, contact details -->
    <!-- in line with company logo -->
    <div fxLayout      = "column"
         fxLayoutGap   = "6px"
         fxLayoutAlign = "center"
         fxFlex>

      <div class="job-level">
        {{job.level}}
      </div>

      <div>

        <span class = "job-company">
          <a *ngIf = "job.link" [href] = "job.link">{{job.companyName}}</a>
          <span *ngIf = "!job.link">{{job.companyName}}</span>
        </span>
        
        <span class = "job-period avoid-wrap"
              *ngIf = "job?.start">
            {{job.end?'':'since'}}
            {{job.start | date:'MMM yyyy'}}
            {{job.end?' – ':''}}
            {{job.end?(job.end | date:'MMM yyyy'):''}}
            {{getJobDurationString()}}
        </span>

      </div>

      <div *ngIf = "job?.contact"
           class = "job-contact">
          References available from 
          <a *ngIf  = "job?.contactEmail"
             [href] = "'mailto:' + job.contactEmail"
             target = "_blank">
            {{job.contact}}</a>
          <span *ngIf = "!job?.contactEmail">
            {{job.contact}}</span>
      </div>

    </div>
  </div>

  <!-- job description and roles -->
  <markdown *ngIf  = "job?.description"
            [src]  = "job.description"
            (load) = "jobDescriptionLoadComplete()"
            [ngClass.gt-md] = "{'indent-to-company-logo':true}"></markdown>
  <app-role *ngFor = "let role of job?.roles"
            [role] = "role"
            (load) = "roleLoadComplete($event)"
            [ngClass.gt-md] = "{'indent-to-company-logo':true}"></app-role>

  <!-- list of technologies used -->
  <div *ngIf = "job?.technologies"
       class = "job-tech-list"
       [ngClass.gt-md] = "{'indent-to-company-logo':true}">
    <h3>Technologies used</h3>
    <app-tech-list [techs] = "job.technologies"></app-tech-list>
  </div>
  
</div>