.job-logo {
  width :95px;
  height:95px;
  margin:5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.job-header {
  min-height:105px;
}

.job-level {
  font-size:200%;
  font-weight: bold;
}

.job-company {
  font-weight: bold;

  &:after {
    content: " ";
    letter-spacing: 1em;
    background: center center no-repeat url("/assets/bullet.png");
  }
}

.indent-to-company-logo {
  margin-left: 130px;
}

.padding-bottom {
  padding-bottom: 60px;
}