<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
  <div class=    "job-avatar"
       [ngStyle]="{'background-image':'url(../assets/logos/' + job.avatar + ')'}"
       fxFlex=   "none"></div>
  <div fxFlex="auto" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="space-evenly">
    <div class="job-level">
      {{job.level}}
    </div>
    <div class="job-company">
      {{job.companyName}}
    </div>
  </div>
  <div fxFlexAlign="end" align="right">
    <span class="job-period">{{job.startDate}} –  Current</span>
    <br>
    <span class="job-duration">(1 year, 1 month)</span>
  </div>
</div>
<app-role></app-role>