<div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
  <div class=    "job-avatar mat-elevation-z2"
       [ngStyle]="{'background-image':'url(' + '../assets/mbda.png' + ')'}"
       fxFlex=   "none"></div>
  <div fxFlex="auto" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="space-evenly">
    <div class="job-level">
      Principal engineer
    </div>
    <div class="job-company">
      MBDA Systems
    </div>
  </div>
  <div fxFlexAlign="end" align="right">
    <span class="job-period">Sep 2017 – Current</span>
    <br>
    <span class="job-duration">(1 year, 1 month)</span>
  </div>
</div>
<app-role></app-role>