<div class         = "app-banner-background"
     [style.background-image] = "backgroundImg ? 'url('+ backgroundImg +')' : 'none'"
     fxLayout      = "row"
     fxLayoutAlign = "center end">

  <img *ngIf = "portraitImg"
       [src] = "portraitImg"
       class = "app-banner-portrait">

  <div class  = "app-banner-content">

    <div class = "app-banner-text-box">
      <h1>About me</h1>
      <markdown *ngIf  = "textUrl"
                [src]  = "textUrl"
                (load) = "resizePortrait()"></markdown>
    </div>

    <div class         = "app-banner-link-bar"
         fxLayout      = "row wrap"
         fxLayoutAlign = "space-between center">

      <a *ngFor = "let socialNetworkLink of socialNetworkLinks"
         mat-icon-button
         color  = "primary"
         fxFlex = "none"
         [href] = "socialNetworkLink.link"
         target = "_blank">

        <mat-icon [svgIcon] = "socialNetworkLink.name"></mat-icon>
      </a>

    </div>
  </div>
  
</div>