<div class           = "app-banner-background"
     [style.background-image] = "backgroundImg ? 'url('+ backgroundImg +')' : 'none'"
     fxLayout        = "row"
     fxLayoutAlign   = "center"
     [ngClass.lt-lg] = "{'fixed-height':true}">

  <img *ngIf = "portraitImg"
       [src] = "portraitImg"
       class = "app-banner-portrait"
       [ngClass.gt-md] = "{'offset':true}">

  <div fxShow [fxShow.lt-lg] = "false"
       class = "app-banner-content">

    <div *ngIf = "textUrl">
      <h1>About me</h1>
      <markdown [src]  = "textUrl"
                (load) = "resizePortrait()"></markdown>
    </div>

    <app-social-network-links *ngIf                = "socialNetworkLinks"
                              [socialNetworkLinks] = "socialNetworkLinks">
    </app-social-network-links>

  </div>
  
</div>