@import '~@angular/material/theming';
@mixin banner-component-style($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .app-banner-background {
    background-color: mat-color($background, background);
  }
  .app-banner-content {
    background-color: rgba(mat-color($background, background), 0.9);
  }
}