@import '~@angular/material/theming';
@mixin skill-component-color-allocation($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  //colour assignments to go here
}

