@import '~@angular/material/theming';
@mixin app-component-style-light($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  li, p {
    color:mat-color($foreground, secondary-text);
  }

  li::before {
    color:mat-color($primary);
  }
  
  a {
    color:darken(mat-color($primary),20%);
    &:visited {
      color:darken(mat-color($primary),30%);
    }
  }
}

@mixin app-component-style-dark($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  li, p {
    color:mat-color($foreground, secondary-text);
  }

  li::before {
    color:mat-color($primary);
  }

  //change text selection colour
  ::-moz-selection { //for Firefox
    background:mat-color($primary);
  }
  ::selection { //for other browsers
    background:mat-color($primary);
  }

  a {
    color:mat-color($primary);
    &:visited {
      color:darken(mat-color($primary),10%);
    }
  }
}