<div [class]="currentTheme">

  <!-- title bar -->
  <app-title-bar [cvOwnersName]  = "cv?.name"
                 [cvOwnersEmail] = "cv?.email"
                 [currentTheme]  = "currentTheme"
                 (themeChanged)  = "setTheme($event)">
  </app-title-bar>

  <div class         = "mat-app-background
                        basic-container"
       fxLayout      = "row"
       fxLayoutAlign = "center start">
         
    <!-- main content column -->
    <div class  = "main-column">

      <!-- intro section -->
      <div *ngIf = "cv?.description">
        <markdown [src]="cvService.getTextUrl(cv.description)"></markdown>
      </div>

      <!-- all jobs listed -->
      <app-job *ngFor = 'let job of cv?.jobs' [job] = 'job'></app-job>
      
    </div>

    <!-- nav bar column -->
    <app-nav-bar></app-nav-bar>

  </div>
</div>