<div [class]="currentTheme">

  <!-- title bar -->
  <app-title-bar [cvOwnersName]  = "cv?.name"
                 [cvOwnersEmail] = "cv?.email"
                 [currentTheme]  = "currentTheme"
                 (themeChanged)  = "setTheme($event)">
  </app-title-bar>

  <div class         = "mat-app-background
                        basic-container"
       fxLayout      = "row"
       fxLayoutAlign = "center start">
         
    <!-- main content column -->
    <div class  = "main-column">

      <!-- intro section -->
      <markdown *ngIf = "cv?.description"
                [src] = "cvService.getTextUrl(cv.description)"></markdown>

      <h1>Fields of expertise</h1>
      <ul>
        <div class = "columns">
          <li *ngFor = "let field of cv?.fields">{{field}}</li>
        </div>
      </ul>
      <h1>Technology proficiencies</h1>
      <app-tech-list [techs] = combinedTechList></app-tech-list>

      <h1>Experience</h1>
      <!-- all jobs listed -->
      <app-job *ngFor = 'let job of cv?.jobs' [job] = 'job'></app-job>
      
    </div>

    <!-- nav bar column -->
    <app-nav-bar></app-nav-bar>

  </div>
</div>