@import '~@angular/material/theming';
@mixin app-component-style-light($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  li, p {
    color:mat-color($foreground, secondary-text);
  }

  li::before {
    color:mat-color($primary);
  }
  
  //change text selection colour
  ::-moz-selection { //for Firefox
    background:mat-color($primary);
  }
  ::selection { //for other browsers
    background:mat-color($primary);
  }

  a {
    color:darken(mat-color($primary),20%);
    &:visited {
      color:darken(mat-color($primary),30%);
    }
  }
}

@mixin app-component-style-dark($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  li, p {
    color:mat-color($foreground, secondary-text);
  }

  li::before {
    color:mat-color($primary);
  }

  //change text selection colour
  ::-moz-selection { //for Firefox
    background:mat-color($primary);
  }
  ::selection { //for other browsers
    background:mat-color($primary);
  }

  a {
    color:mat-color($primary);
    &:visited {
      color:darken(mat-color($primary),10%);
    }
  }
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}

a {
  text-decoration: none;
  &:hover {
  text-decoration: underline;
  }
  &:visited {
  text-decoration: none;
  }
}

li, p {
  line-height:1.5;
}

ul {
  list-style: none   //remove existing bullets
}
ul li::before {
  content: "•";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
li > ul > li::before {
  content: "-";
}
li > ul > li:first-of-type {
  padding-top:12px;
}
li > ul > li:last-of-type {
  padding-bottom:12px;
}

.stick-to-top {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 0;
  z-index: 1000; /* Ensure draws over app content */
}

.float-below-title-bar {
  position: sticky;
  position: -webkit-sticky; /* For Safari */
  top: 80px;
}

.app-main-column {
  max-width: 900px;
}
.app-two-columns {
  column-count: 2;
  column-gap: 40px;
}

.app-show-more-button {
  margin: auto;
}