@import '~@angular/material/theming';
@mixin role-component-style($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .caption {
    color: mat-color($foreground, secondary-text);
    background-color: rgba(mat-color($background, background),0.8);
  }
}