@import '~@angular/material/theming';
@mixin role-component-style($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .role-project {
    font-weight:bold;
  }
  .role-title {
    font-weight:bold;
  }
  .role-image {
    float: right;
    width: 250px;
    margin-left:  20px;
    margin-bottom: 20px;
  }
}