@import '~@angular/material/theming';
@mixin nav-bar-component-style($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  
  .nav-bar-timeline-axis {
    background-color: mat-color($foreground,secondary-text);
  }

  nav {

    &>.nav-bar-job-period {
      background-color:   opacify(mix(mat-color($foreground,text), mat-color($background,background), 20%),1);
      transition: background-color 0.25s;
      -webkit-transition: background-color 0.25s, color 0.25s;

      &.faded-band {
        background-color: opacify(mix(mat-color($foreground,text), mat-color($background,background), 40%),1);
      }
    }

    &.link-active {
      &>.nav-bar-job-period {
        background-color: mat-color($primary) !important;
      }
      &>.nav-bar-job-label {
        color: mat-color($foreground,text) !important;
      }
    }
  
    &>.nav-bar-job-label {
      color: mat-color($foreground,secondary-text);
      transition: background-color 0.25s, color 0.25s;
      -webkit-transition: background-color 0.25s, color 0.25s;
    }

    &:hover>.nav-bar-job-label {
      background-color: rgba(mat-color($foreground,text), 0.05);
    }
  }

  .nav-bar-timeline-label {
    color: mat-color($foreground,secondary-text);
  }

}