@import '~@angular/material/theming';
@mixin nav-bar-component-style($theme) {
  $primary:    map-get($theme, primary);
  $accent:     map-get($theme, accent);
  $warn:       map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  
  .nav-bar-timeline-axis {
    background-color: mat-color($foreground,secondary-text);
  }

  .nav-bar-job-period{
    background-color:   opacify(mix(mat-color($foreground,text), mat-color($background,background), 20%),1);

    &.faded-band{
      background-color: opacify(mix(mat-color($foreground,text), mat-color($background,background), 40%),1);
    }
  }

  .nav-bar-timeline-label {
    color: mat-color($foreground,secondary-text);
  }

  .nav-bar-job-label {
    color: mat-color($foreground,secondary-text);
  }
}