:host{
  min-width:255px;
}
.nav-bar-timeline-label {
  position: absolute;
  transform:translateY(-50%);
}
.nav-bar-timeline-axis {
  position: absolute;
  width: 2px;
  height:100%;
  top: 0px;
  left: 59px;
}

div.interactive>nav {
  cursor: pointer;
}

div:not(.interactive) * {
-webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
     -moz-user-select: none; // Firefox
      -ms-user-select: none; // Internet Explorer/Edge
          user-select: none; // normal
}

nav {

  &>.nav-bar-job-label {
    position: absolute;
    right: 0px;
    width: calc(100% - 105px);
    padding-left: 20px;
    padding-right: 20px;
  
    &>div { //text in label is put in a div to keep multi-lines simple
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &>.nav-bar-job-period {
    position: absolute;
    left: 55px;
    width: 10px;
  }
  
  &:first-of-type>div.nav-bar-job-period {
    border-radius: 10px 10px  0px  0px;
  }
  &:last-of-type>div.nav-bar-job-period {
    border-radius:  0px  0px 10px 10px;
  }
}