<div [@fade]   = "visible? 'in' : 'out'"
     [ngClass] = "{'interactive': visible? true:false}"
     fxFlexFill>

  <!-- axis labels -->
  <div *ngFor = "let scaleLabel of scaleLabels"
       class  = "nav-bar-timeline-label"
       [ngStyle] = "{'top': scale(scaleLabel) + '%'}">
    {{scaleLabel | date:'yyyy'}}
  </div>

  <!-- axis -->
  <div class = "nav-bar-timeline-axis"></div>

  <!-- jobs -->
  <nav *ngFor    = "let link of links; let odd = odd"
       [ngClass] = "{'link-active': link.active? true:false}"
       (click)   = "navigateLink(link)">

    <!-- period indicator -->
    <div class     = "nav-bar-job-period mat-elevation-z4"
         [ngStyle] = "{'top'   : scale(link.end) + '%',
                       'height': scaleBetween(link.end, link.start) + '%'}"
         [ngClass] = "{'faded-band': odd? true:false}"></div>

    <!-- text label -->
    <div class     = "nav-bar-job-label"
         [ngStyle] = "{'top'   : scale(link.end) + '%',
                       'height': scaleBetween(link.end, link.start) + '%'}">
      <div>
        {{link.position}}
        <span class = "avoid-wrap" *ngIf = "link.company"> at {{link.company}}</span>
      </div>
    </div>

  </nav>

</div>