<div [@fade]  = "visible? 'in' : 'out'"
     fxFlexFill>

  <!-- axis labels -->
  <div *ngFor = "let scaleLabel of scaleLabels"
       class  = "nav-bar-timeline-label"
       [ngStyle] = "{'top': scale(scaleLabel) + '%'}">
    {{scaleLabel | date:'yyyy'}}
  </div>

  <!-- axis -->
  <div class = "nav-bar-timeline-axis"></div>

  <!-- jobs -->
  <nav class    = "nav-bar-job"
       *ngFor   = "let job of jobsWithStartDate; let even = even">

    <!-- period indicator -->
    <div class     = "nav-bar-job-period"
         [ngStyle] = "{'top'   : scale(job.end) + '%',
                       'height': scaleBetween(job.end, job.start) + '%'}"
         [ngClass] = "{'faded-band':even?false:true}"></div>

    <!-- text label -->
    <div class     = "nav-bar-job-label"
         [ngStyle] = "{'top' : scale(job.end) + scaleBetween(job.end, job.start) /2 + '%'}">
      {{job.level}} <span class = "avoid-wrap" *ngIf = "job.companyName"> at {{job.companyName}}</span>
    </div>

  </nav>

</div>