.tech-container {
  margin-right: 8px;
  margin-bottom: 8px;
}
.tech-container div {
  padding-left:  12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  font-size:90%;
}

:host {
  margin-bottom:16px;
}