@import '~@angular/material/theming';
@import './app/app.component.scss';

// collected themes from all local components in one place
@mixin themes-for-local-components($theme) {
  @include app-component-color-allocation($theme);
  // ...populate as components are created

}

// Include the common styles for Angular Material to make accessible in 
// a single css file. Be sure that this is only ever included once.
@include mat-core();

// Palettes defined using the Material Design palettes available in palette.scss (imported above).
// Some specify a default, lighter, and darker hue.
// Available color palettes: https://material.io/design/color/
$theme-primary: mat-palette($mat-orange, A700, A200, A900);
$theme-accent:  mat-palette($mat-red, A100, 50, 600);
$theme-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dark-theme:  mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
$light-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Define classes for each theme
.dark-theme{
  @include angular-material-theme($dark-theme);
  @include themes-for-local-components($dark-theme);
}
.light-theme{
  @include angular-material-theme($light-theme);
  @include themes-for-local-components($light-theme);
}

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}