@import '~@angular/material/theming';
@import './app/app.component.scss';
@import './app/job/job.component.scss';
@import './app/role/role.component.scss';

// collected themes for all local components
// that don't care about light or dark
@mixin themes-for-local-components($theme) {
  @include job-component-style($theme);
  @include role-component-style($theme);
  // ...populate as components are created

}

// Include the common styles for Angular Material to make accessible in 
// a single css file. Be sure that this is only ever included once.
@include mat-core();

// Palettes defined using the Material Design palettes available in palette.scss (imported above).
// Some specify a default, lighter, and darker hue.
// Available color palettes: https://material.io/design/color/
$theme-primary: mat-palette($mat-orange, A700, A200, A900);
$theme-accent:  mat-palette($mat-red, A100, 50, 600);
$theme-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dark-theme:  mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
$light-theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

// Define classes for each theme
.dark-theme{
  @include angular-material-theme($dark-theme);
  @include themes-for-local-components($dark-theme);
  @include app-component-style-dark($dark-theme);
}
.light-theme{
  @include angular-material-theme($light-theme);
  @include themes-for-local-components($light-theme);
  @include app-component-style-light($light-theme);
}